
/*Стилизація проєкта -*/
/*index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.*/
/*user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
/*блоки з короткою іфною про post - в ряд по 5 .*/
/*post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/


body {
    background-image: url(fone1.jpg);
    background-size: cover;
    font-family: Gill Sans, sans-serif;
}



/*Стилізація index.html сторінки*/
#mainDiv_index {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
}

.headDiv-index {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    background: #30A100;
}

.headH2-index {
    width: 50%;
    text-align: center;
    min-width: 114px;
}

.twiceDiv-index {
    width: 50%;
    border: 1px solid cornflowerblue;
    padding-bottom: 2%;
    box-sizing: border-box;
}

.index-h3 {
    text-align: center;
    font-size: 130%;
    overflow: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: white;
    /*    */
}

.index-input {
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
    width: 90%;
    height: 37px;
    background: aliceblue;
    font-size: 108%;
}

.index-a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}





/*Стилізація user-details.html*/
#detailsMain_div {
    border: 2px solid cornflowerblue;
    padding: 5px 0 5px 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

.h2Main {
    width: 100%;
    margin: 0 3px 0 3px;
    overflow: auto;
    color: white;
}

#postsInput {
    width: 90%;
    margin: 15px 5% 15px 5%;
    padding: 10px;
    font-size: 300%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 5px;

}

#titleDiv {
    border: 2px solid cornflowerblue;
    border-top: 0;
    padding: 17px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 0.2vw;
    box-sizing: border-box;
    border-radius: 5px;
}

.titleA {
    text-decoration: none;
    width: 19.5%;
    border: 2px solid lightgreen;
    box-sizing: border-box;
    /*overflow: auto;*/
}

.titleA:hover {
    text-decoration: underline;
}

.titleH3 {
    margin: 0 3px 0 3px;
    font-size: 150%;
    padding: 3px;
    color: white;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.userDiv {
    padding-left: 20px;
    border-left: 2px solid cornflowerblue;
}



/*Стилізація post-details.html сторінки*/
#postDiv {
    border: 2px solid limegreen;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    background: darkorange;
    font-size: 130%;
    overflow: auto;
    border-radius: 5px;
}

.postDetailsDiv1 {
    display: flex;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    flex-basis: 50%;
    overflow: auto;
    margin-bottom: 2%;
    scrollbar-width: auto;
    scrollbar-color: darkorange limegreen;
}

/* Chrome, Edge, and Safari */
.postDetailsDiv1::-webkit-scrollbar {
    width: 12px;
}

.postDetailsDiv1::-webkit-scrollbar-track {
    background: limegreen;
}

.postDetailsDiv1::-webkit-scrollbar-thumb {
    background-color: darkorange;
    border-radius: 10px;
    border: 2px solid #575757;
}

.postDetailsDiv1:hover::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
}

.detailsDiv {
    box-sizing: border-box;
    border: 2px solid darkorange;
    flex-basis: 45%;
    flex-shrink: 0;
    margin-bottom: 1%;
    padding-left: 3%;
    background: lightgreen;
    border-radius: 5px;
}

.postDetailsH4 {
    font-size: 120%;
    overflow: auto;
}

.red-text {
    color: #A03447;
}

.blue-text {
    color: #AB529C;
}


/**/
/**/
/**/
@media screen and (max-width: 450px) {

    .headH2-index {
        width: 100%;
    }

    #headH2-index {
        display: none;
    }

    .twiceDiv-index {
        width: 100%;
    }

    .postDetailsH4 {
        width: 100%;
    }

    #postsInput {
        padding: 3px;
        font-size: 125%;
    }

    .userDiv {
        padding-left: 3px;
    }

    .postDetailsDiv1 {
        flex-wrap: wrap;
    }

    .detailsDiv {
        flex-basis: 100%;
        flex-shrink: 1;
        overflow: auto;
    }

    #detailsMain_div {
        padding-left: 3px;
    }

    #titleDiv {
        row-gap: 1vh;
    }

    .titleA {
        width: 100%;
    }

    #titleA5 {
        margin-bottom: 5vh;
    }

    .postDetailsH4 {
        scrollbar-width: auto;
        scrollbar-color: darkorange limegreen;
    }

    /* Chrome, Edge, and Safari */
    .postDetailsH4::-webkit-scrollbar {
        width: 12px;
    }

    .postDetailsH4::-webkit-scrollbar-track {
        background: limegreen;
    }

    .postDetailsH4::-webkit-scrollbar-thumb {
        background-color: darkorange;
        border-radius: 10px;
        border: 2px solid #575757;
    }

    .postDetailsH4:hover::-webkit-scrollbar-thumb {
        background-color: cornflowerblue;
    }
}


